*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0%;
    border: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
div header {
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 90px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

div header nav ul {
    display: flex;
    gap: 1.1em;
}
div header a img{
    width: 50px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header nav ul li a {
    color: rgb(255, 255, 255);
}

footer {
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 70px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

footer nav ul {
    display: flex;
    gap: 1em;
}


footer nav ul li a {
    color: rgb(255, 255, 255);
}

.imagen1, .imagen2, .imagen3 {
    width: 500px;
    height: 700px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.im {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

/* .seccion-2 div, .seccion-3 div {
    background-color: rgb(255, 255, 255);
    margin: 10px;
    justify-content: space-between;
    width: auto;
    height: 30px;
} */

.seccion-2 h2 {
    display: flex;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    margin: 30px;
}

h4, p {
    color: #ffffff;
}

.artis1 div img,.artis2 div img, .artis3 div img  {
    width: 300px;
    height: 400px;
}

.seccion-2 {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.seccion-3 h2 {
    color: #000000;
    display: flex;
    margin: 30px;
    align-items: center;
    justify-content: center;

}

.seccion-4 {
    background-color: black;
}
.seccion-4 h2 {
    color: #ffffff;
    display: flex;
    margin: 30px;
    align-items: center;
    justify-content: center;

}

.yairon {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    font-style: italic;

}
